*{
	margin: 0;
	padding: 0;
	font-family: 'Acme';
}
.header {
	width: 100%;
	height: 75px;
	border-bottom: 2px solid;
	margin-bottom: 70px;
}
.logo-container {
	text-align: center;
	float: left;
}
.logo-container label {
	width: 100%;
	text-align: center;
	float: left;
}
.header-contents {
	float: right;
	width: 30%;
	padding-top: 20px;
}
.header-contents li {
    list-style-type: none;
    display: inline-block;
    padding-right: 35px;
}
.header-contents li a {
	text-decoration: none;
	color: #7d7d7d;
	cursor: pointer;
} 